@import "../../../styles/colors";

header {
  width: 18rem;
  height: 100%;
  display: flex;
  position: fixed;
  border-right-style: solid;
  border-right-width: 0.5px;
  border-right-color: white;
  background-color: #3b62b1;
  @media screen and (max-width: $mobile-max-width) {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
  }

  .header-blue {
    width: 1em;
    background-color: #3b62b1;
    height: 100%;
    @media screen and (max-width: $mobile-max-width) {
      height: 100vh;
    }
  }

  .header-information {
    width: 100%;
    height: 100%;
    color: white;
    background-color: #313131;
    @media screen and (max-width: $mobile-max-width) {
      max-width: 18rem;
    }
  }

  .menuContainer {
    color: white;
    margin-top: 1rem;
  }

  .menuContainer h2 {
    margin: 0.8rem;
    margin-left: 1rem;
    font-weight: 500;
  }

  .menuContent {
    margin-left: 1rem;
  }

  .menuContentContainer {
    display: flex;
    flex-direction: row;
  }

  .menuContentContainer p {
    color: white;
    flex: 1;
    margin: 0.5rem;
    margin-left: 1rem;
  }

  .menuContent a {
    color: white;
    margin: 1rem;
    font-size: 1.5rem;
    flex: 1;
  }

  .line {
    background-image: $primary-right-linear-gradient;
    height: 1px;
  }

  @media screen and (max-width: $mobile-max-width) {
    .close {
      position: absolute;
      right: 0;
      top: 0;
      width: 32px;
      height: 32px;
      padding: 15px;
      opacity: 0.3;
    }
    .close:hover {
      opacity: 1;
    }
    .close:before,
    .close:after {
      position: absolute;
      left: 30px;
      content: " ";
      height: 33px;
      width: 3px;
      background-color: white;
    }
    .close:before {
      transform: rotate(45deg);
    }
    .close:after {
      transform: rotate(-45deg);
    }
  }
}

.only-desktop {
  display: none;
  @media screen and (min-width: $mobile-max-width) {
    display: flex;
  }
}
