.paragraph {
  margin-top: 2rem;

  .paragraphTitle {
    flex: 1;
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.4rem;
    letter-spacing: -0.5px;
    color: $primary-color;
    mix-blend-mode: normal;
    text-align: center;
    @media screen and (max-width: $mobile-max-width) {
      font-size: 1.9rem;
    }
  }

  .leftTitle {
    text-align: left;
  }

  .rightTitle {
    text-align: right;
  }

  .paragraphContainer {
    display: flex;
    justify-content: center;
  }

  .paragraphImage {
    height: 5rem;
    align-self: center;
    @media screen and (max-width: $mobile-max-width) {
      height: 3rem;
    }
  }

  .sectionsContainer {
    flex: 1;
    align-self: center;
    font-family: Roboto;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
    .multy-section {
      .sub-section {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        .sub-section-title {
          font-weight: bold;
          font-size: 0.8rem;
          min-width: 6rem;
        }
        .sub-section-content {
          text-align: left;
        }
      }
      @media screen and (max-width: $mobile-max-width) {
        .sub-section {
          display: flex;
          flex-direction: column;
          .sub-section-content {
            text-align: center;
          }
        }
      }
    }
  }

  .sectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40rem;
    width: 100%;
    border-radius: 8px;
    margin: 1rem;
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.1),
      0 6px 20px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
    @media screen and (max-width: $mobile-max-width) {
      flex-wrap: wrap;
      margin: 1rem 0;
    }
  }

  .sectionContent {
    padding: 1rem;
    h3 {
      margin: 1.2rem 0 1rem 0;
      padding: 0;
      text-align: left;
      font-size: 1.2rem;
      @media screen and (max-width: $mobile-max-width) {
        text-align: center;
      }
    }
  }

  .section-image {
    display: flex;
    border-radius: 8px 8px 0 0;
    height: 3rem;
    background-color: rgba(59, 98, 196, 0.2);
    justify-content: center;
    img {
      width: auto;
      max-height: 2rem;
      margin: 0.5rem 0;
      border-radius: 4px;
    }
  }

  .date {
    min-width: 10rem;
    margin: 0;
    text-align: right;
    font-size: 0.8rem;
    height: 0px;
    @media screen and (max-width: $mobile-max-width) {
      text-align: center;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .sectionContent.description {
    min-width: 25rem;
    font-size: 1rem;
    text-align: left;
    max-width: -webkit-fill-available;
    @media screen and (max-width: $mobile-max-width) {
      min-width: unset;
      width: 100%;
      text-align: center;
    }
  }

  .more-paragraph {
    text-align: center;
    cursor: pointer;
    color: $primary-color;
  }

  .link-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.3rem;
  }
  a:link {
    color: $primary-color;
  }
}

.more-paragraph {
  text-align: center;
  cursor: pointer;
  color: $primary-color;
}

.more-container {
  height: 0px;
  overflow: hidden;
  width: 100%;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
