.paragraph {
  margin: 1rem;
}

.leftLine {
  background-image: $primary-left-linear-gradient;
  height: 1px;
}

.rightLine {
  background-image: $primary-right-linear-gradient;
  height: 1px;
}

.paragraphTitle {
  flex: 1;
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.9rem;
  letter-spacing: -0.5px;
  color: $primary-color;
  mix-blend-mode: normal;
  text-align: center;
}

.leftTitle {
  text-align: left;
}

.rightTitle {
  text-align: right;
}

.paragraphContainer {
  display: flex;
  justify-content: center;
}

.paragraphContainer.leftParagraph {
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.paragraphContainer.rightParagraph {
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

.paragraphImage {
  height: 5rem;
  align-self: center;
  @media screen and (max-width: $mobile-max-width) {
    height: 3rem;
  }
}

.sectionsContainer {
  flex: 1;
  align-self: center;
  font-family: Roboto;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  background-color: #fff;
  z-index: 1;
  .multy-section {
    .sub-section {
      display: flex;
      flex-direction: row;
      margin: 0.5rem;
      .sub-section-title {
        font-weight: bold;
        font-size: 0.8rem;
        min-width: 6rem;
      }
      .sub-section-content {
        text-align: left;
      }
    }
    @media screen and (max-width: $mobile-max-width) {
      .sub-section {
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        .sub-section-title {
          font-weight: bold;
          font-size: 0.8rem;
          min-width: 6rem;
        }
        .sub-section-content {
          text-align: center;
        }
      }
    }
  }
}

.sectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media screen and (max-width: $mobile-max-width) {
    flex-wrap: wrap;
  }
}

.sectionContent {
  padding: 1rem;
  padding-top: 0px;
  max-width: 35rem;
  h3 {
    margin: 0;
    margin-bottom: 0.3rem;
    padding: 0;
    text-align: left;
    font-size: 1.2rem;
    @media screen and (max-width: $mobile-max-width) {
      text-align: center;
      margin: 0.3rem;
    }
  }
}

.sectionContent.date {
  min-width: 10rem;
  max-width: 12rem;
  text-align: center;

  @media screen and (max-width: $mobile-max-width) {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.sectionContent.description {
  min-width: 25rem;
  font-size: 1rem;
  flex: 1;
  text-align: left;
  @media screen and (max-width: $mobile-max-width) {
    min-width: 100%;
    text-align: center;
  }
}

.more-paragraph {
  text-align: center;
  cursor: pointer;
  color: $primary-color;
  margin-top: -1rem;
}

.more-container {
  height: 0px;
  overflow: hidden;
  width: 100%;
  z-index: -1;
  transition: all 0.5s;
  .leftLine {
    margin-bottom: 0.7rem;
  }
  .rightLine {
    margin-bottom: 0.7rem;
  }
}
