.menu {
  position: sticky;
  background-color: $background-primary-color;
  top: 0;
  margin-left: 1px;
  color: white;
  height: 3rem;
  display: flex;
  z-index: 2;

  @media screen and (max-width: $mobile-max-width) {
    margin-left: 0px;
  }

  ul {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    li {
      margin-left: 1rem;
      margin-right: 1rem;
      a {
        color: white;
        text-decoration: none;
      }
    }
    @media screen and (max-width: $mobile-max-width) {
      display: none;
    }
  }

  .info-menu {
    display: none;
    cursor: pointer;
    height: 1.5rem;
    align-self: center;
    margin-left: 1rem;
    @media screen and (max-width: $mobile-max-width) {
      display: inline;
    }
  }

  p {
    display: none;
    cursor: pointer;
    margin-left: 0.5rem;
    @media screen and (max-width: $mobile-max-width) {
      display: inline;
    }
  }

  .language-container {
    width: 4rem;
    display: flex;
    flex-direction: row;
    align-self: center;
    color: white;
    @media screen and (max-width: $mobile-max-width) {
      flex: 1;
      padding-right: 1rem;
      justify-content: flex-end;
    }
    p {
      display: inline;
      margin: 0.2rem;
      font-weight: 100;
      cursor: pointer;
    }
    .selected-language {
      font-weight: bold;
    }
  }
}
