@import "../../styles/colors";

$text-shadow: 2px 4px 5px black;

.home {
  margin-left: 18rem;

  @media screen and (max-width: $mobile-max-width) {
    margin-left: 0;
  }
}

.intro {
  background-image: url("intro.jpg");
  background-position: left;
  background-size: cover;
  height: 22rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro h1 {
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
  text-shadow: $text-shadow;
  padding: 0;
  margin: 0;
}

.intro h2 {
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  text-shadow: $text-shadow;
  padding: 0;
  margin: 0;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  margin-top: -3rem;
}

.boingInUp {
  animation-duration: 2s;
  -webkit-animation-name: boingInUp;
  animation-name: boingInUp;
}

@-webkit-keyframes boingInUp {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(-90deg);
    transform: perspective(800px) rotateX(-90deg);
  }
  50% {
    opacity: 1;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(50deg);
    transform: perspective(800px) rotateX(50deg);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(0deg);
    transform: perspective(800px) rotateX(0deg);
  }
}

@keyframes boingInUp {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(-90deg);
    transform: perspective(800px) rotateX(-90deg);
  }
  50% {
    opacity: 1;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(50deg);
    transform: perspective(800px) rotateX(50deg);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(0deg);
    transform: perspective(800px) rotateX(0deg);
  }
}
